<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mental Health Tracker</title>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        // Convert the passed Python dictionary to JS object notation
        var score = JSON.parse('{{ score|safe }}');
        console.log(score)
        /***  
         * 1. Below code is as is from the Google Charts documentation.
         * 2. Modified part has been documented as: "Added/Modified by the developers." ***/
        // Load the Visualization API and the corechart package.
        google.charts.load('current', { 'packages': ['corechart'] });

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart.bind(null, score, '#000000', '#FFFFFF'));

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart(score, bg_color, font_color) {
            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Topping');
            data.addColumn('number', 'Slices');
            data.addRows([
                ['Negative', score["negative"]],
                ['Neutral', score["neutral"]],
                ['Positive', score["positive"]],
            ]);

            // Set chart options
            var options = {
                'title': 'Sentiment Analysis Result',
                'width': 400,
                'height': 300,
                // All of the by the developers
                'colors': ['#DC143C', '#1338BE', '#03C04A'],
                /* Crimson,   Cobalt,   Parakeet*/
                'is3D': true,
                'backgroundColor': bg_color,
                'titleTextStyle': {
                    'color': font_color
                },
                'legend': {
                    'textStyle': {
                        'color': font_color
                    }
                }
            };

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>
</head>

<body>
    <section>
        <h1>Enter Something...</h1>
        <form action="analyze" name="form" redirect="true">
            <input type="text" placeholder="Type your word here" id="input" name="text">
            <button type="submit" value="submit">Analyze</button>
        </form>
        <br>
        <div id="chart_div"></div>
    </section>
</body>

</html>
